<p>
  <strong>Main Domain:</strong>
  <%= @shortener.main_domain %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= link_to @shortener.abbrev, "//#{@shortener.main_domain}", target: :_blank %>
</p>

<p>
  <strong>Alternate Domain:</strong>
  <ul>
    <% @shortener.alt_domain.each do |d| %>
      <li><%= d %></li>
    <% end %>
  </ul>
</p>
