<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand">
    <i class="fa fa fa-flash"></i>
    URL Shortener
  </a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to '<i class="fa fa fa-home"></i> Home'.html_safe, root_path, class: "nav-link" %>
    </li>
  </ul>
</nav>
